#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.navbar {
  display: flex;
  width: 100%;
  padding: 12px;
  overflow: auto;
}
.nav-container {
  padding: 10px;
  background-color: #7CA502;
}
.navbar .nav-container:hover {
  background-color: #749a02;
}
.container{
  width: 100%;
  align-self: center;
}
.card-container {
  width: 40%;
  max-width: 1000px;
  overflow: hidden;
  align-self: center;
}
.card-image {
  width: 100%;
  object-fit: cover;
  border-radius: 50px;
  align-self: center;
}
.image-box img{
  width: 100%;
}
.card-description {
  padding: 8px 12px;
  font-size: 1.1rem;
}
.title-description-container {
  color: black;
  background-color: #e7fda3;
  border-radius: 5px;
  padding: 1%;
}
@media screen and (max-width: 500px) {
  .card-image img{
    width: 65%;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
