@import url('https://fonts.googleapis.com/css?family=Happy+Monkey');
h2, p {
    font-family: 'Happy Monkey';
    color: #383333;
}
#root {
  max-width: 50vw;
  min-width: 15vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color:#F0F0F1;
  min-height: 80vh;
}
.navbar {
  display: flex;
  width: 100%;
  padding: 12px;
  overflow: auto;
}
.nav-container {
  padding: 10px;
  background-color: #7CA502;
}
.navbar .nav-container:hover {
  background-color: #749a02;
}

@media screen and (max-width: 500px) {
  /* .navbar {
    width: 100%;
    height: 65px;
    padding-bottom: 20px;
  } */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.droppable {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  font-family: 'Happy Monkey';
  color:#ffffff;
}

label {
  font-weight: 600;
  color: #ffffff;
  font-family: 'Happy Monkey';
}

select {
  width: 150px;
  align-self: center;
}
button {
  width: 150px;
  height: 1.5rem;
  font-family: 'Happy Monkey';
  text-align: center;
  line-height: 0;
}